// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.ortala{
    display: table;
    margin: 0 auto;
}

$categories: (
 ionic: color($colors, primary),
 izlenmis: #26448F,
 izleniyor: #2DB039,
 izlenecek: #8F8F8F,
 beklemede: #E7B715,
 birakilmis: #A12F31,
 food: #3BC7C4
);

@function auxiliary-categories() {
  @return map-remove($categories);
}

  @each $track, $value in auxiliary-categories() {
   ion-item-sliding[track=#{$track}] ion-label {
     border-right: 5px solid $value;
     margin-right: 5px;
     height:85%;
     padding:5px;
   }
  }

    @each $track, $value in auxiliary-categories() {
   ion-item[track=#{$track}] {
     border-right: 7px solid $value;
     margin-right: 5px;
     color: $value;
      margin: 0 !important;
   }
  }

      @each $track, $value in auxiliary-categories() {
   ion-item[track=#{$track}] ion-label {
      color: $value;
      }
      }

  ion-item.profil.item.item-block {
    min-height: 1.2em !important;
  } 

ion-thumbnail[item-left] {
    margin: 8px -15px 8px 0 !important;
}

.label-md, .label-wp {
    margin:0 !important;
}

.item-wp
{
    padding-left: 10px!important;
}

ion-thumbnail[item-left] img {
    max-width: 70%;
}

ion-badge{
    margin: 3px;
}